<%- include('includes/header', { title: "Admin Dashboard - Home" }) %>

<link rel="stylesheet" type="text/css" href="/css/home.css" />

<body>
  <main class="home-container">
    <header>
      <nav class="navigation-menu" aria-label="Main Navigation">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" href="/admin" aria-current="page"
              >Home</a
            >
          </li>
          <% if(!member) { %>
          <li class="nav-item">
            <a class="nav-link" href="/admin/signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/login">Login</a>
          </li>
          <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/admin/product/all">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/event/all">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/user/all">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/coupanCreate">Coupon</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link logout"
              href="/admin/logout"
              onclick="return confirm('Do you want to logout?')"
            >
              Logout
            </a>
          </li>
          <% } %>
        </ul>
      </nav>
    </header>
    <section class="welcome">
      <h1>Welcome to the Homepage</h1>
    </section>
  </main>
  <script type="text/javascript" src="/js/home.js" defer></script>
</body>

<%- include('includes/footer') %>
